.works-detail-top-frame {
  height: 400px;
  background: white;
}
.works-detail-top-bread {
  padding: 30px 0 48px 0;
  width: 1100px;
  margin: auto;
}
.works-detail-info-frame {
  width: 1100px;
  margin: auto;
}
.details-category {
  color: #464c5b;
  font-size: 17px;
  margin-bottom: 20px;
  display: flex;
  font-weight: bold;
  align-items: center;
}
.details-category-son {
  font-size: 14px;
  font-weight: normal;
}
.works-detail-info-img {
  width: 345px;
  height: 250px;
  margin-left: 50px;
  float: left;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.157), 0 0px 3px rgba(0, 0, 0, 0.227);
}
.works-detail-info-text-frame {
  float: left;
  margin-left: 30px;
  width: 670px;
}
.works-detail-info-text-workname {
  margin-top: 3px;
  font-size: 35px;
  width: 100%;
  float: left;
}
.works-detail-info-text-type {
  float: left;
  margin-top: 10px;
  width: 100%;
}
.works-detail-info-text-teaminfo-frame {
  margin-top: 20px;
  float: left;
  width: 520px;
  height: 145px;
}
.works-detail-markdown {
  width: 1100px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 50px;
  background: white;
}
.works-detail-bottom-info {
  font-size: 16px;
  color: #464c5b;
  width: 100%;
}
